* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 22px 50px;
    background-color: #fff;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

ul>li>a {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 700;
    color: black;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 1px;
}

.first_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 165px;
}

.title_part {
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;
    text-align: left;
}

.description_part {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}

.left_part {
    width: 464px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}

.right_part {
    width: 733px;
    height: 482px;
}

button {
    width: 197px;
    height: 56px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    background: #FFFFFF;
    background: #2BD0D0;
    border-radius: 20px;
}

.second_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-image: url("./assets/img/Path\ 2.png");
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}

.second_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #aeae07;
}

footer {
    display: flex;
    gap: 38.96px;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
}

footer>ul>li>a {
    color: #FFFFFF;
}